<!DOCTYPE html>
<html>
<head>
	<title>App</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div id="app">


		<div id="video_area">
			<video id="video_element" autoplay loop>
				<source v-bind:src="videos_path+current_video" type="video/mp4">
			</video>
			<div id="information_area">
				<h1>{{information.title}}</h1>
				<h2>{{information.streamer}}</h2>
				<p>
					positivity: {{positivity}}<br>
					current_timeline_id: {{current_timeline_id}}<br>
					current_video: {{current_video}}<br>

				</p>
			</div>
		</div>


		<div id="chat_area">
			
			<div id="chat">
				<div class="comment" v-for="comment in comments">

					<span class="comment_pictures" v-for="picture in comment.pictures">
						<img v-bind:src="pictures_path+picture"/>
					</span>
					<span class="comment_name" v-bind:style="{'color': comment.color}">{{comment.name}}</span>: {{comment.text}}
				</div>
			</div>
			<div id="player_choice">
				<div v-if="choose">
					Player choice:
					<div v-for="choice in current_choice">
						<button v-on:click="player_choose(choice.id)">
							{{choice.text}}
						</button>
					</div>
				</div>
				<div v-else>
					Player has to wait
				</div>
			</div>
		</div>

		
	</div>
	<script src="app.js"></script>
</body>
</html>